<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  android:installLocation="internalOnly"
  tools:ignore="Instantiatable">

  <permission
    android:description="@string/permdesc_bind_logger_service"
    android:label="@string/permlab_bind_logger_service"
    android:name="com.itsaky.androidide.permission.BIND_LOG_SERVICE"
    android:protectionLevel="normal"
    tools:ignore="ManifestOrder" />

  <uses-permission android:name="com.itsaky.androidide.permission.BIND_LOG_SERVICE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission
    android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
    tools:ignore="ScopedStorage" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
  <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

  <application
    android:allowBackup="false"
    android:allowNativeHeapPointerTagging="false"
    android:enableOnBackInvokedCallback="true"
    android:extractNativeLibs="true"
    android:hardwareAccelerated="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:largeHeap="true"
    android:name=".app.IDEApplication"
    android:preserveLegacyExternalStorage="true"
    android:requestLegacyExternalStorage="true"
    android:resizeableActivity="false"
    android:supportsRtl="true"
    android:theme="@style/Theme.AndroidIDE"
    tools:ignore="DiscouragedApi,MediaCapabilities,UnusedAttribute">
    <activity
      android:exported="true"
      android:name=".activities.CrashHandlerActivity"
      android:windowSoftInputMode="stateAlwaysHidden">
      <intent-filter>
        <action android:name="com.itsaky.androidide.REPORT_CRASH" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <activity
      android:exported="true"
      android:name=".activities.SplashActivity"
      android:theme="@style/AppTheme.Splash">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:exported="false"
      android:name=".activities.OnboardingActivity" />
    <activity
      android:exported="false"
      android:name=".activities.MainActivity"
      android:theme="@style/Theme.AndroidIDE" />
    <activity
      android:configChanges="orientation|screenSize"
      android:launchMode="singleTop"
      android:name=".activities.editor.EditorActivityKt"/>
    <activity android:name=".activities.PreferencesActivity" />
    <activity android:name=".activities.AboutActivity" />
    <activity android:name=".activities.ContributorsActivity" />
    <activity
      android:name=".activities.TerminalActivity"
      android:windowSoftInputMode="adjustResize" />

    <provider
      android:authorities="com.itsaky.androidide.documents"
      android:exported="true"
      android:grantUriPermissions="true"
      android:name=".provider.IDEDocumentsProvider"
      android:permission="android.permission.MANAGE_DOCUMENTS">
      <intent-filter>
        <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
      </intent-filter>
    </provider>

    <provider
      android:authorities="${applicationId}.providers.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true"
      android:name=".provider.IDEFileProvider">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/ide_file_provider_paths" />
    </provider>

    <receiver
      android:enabled="true"
      android:exported="true"
      android:name=".services.InstallationResultReceiver"
      tools:ignore="ExportedReceiver">
      <intent-filter>
        <action android:name="com.itsaky.androidide.installer.INSTALL_PACKAGE" />
      </intent-filter>
    </receiver>

    <service
      android:exported="false"
      android:name=".services.builder.GradleBuildService" />

    <service
      android:exported="true"
      android:name=".services.log.LogReceiverService"
      android:permission="com.itsaky.androidide.permission.BIND_LOG_SERVICE">
      <intent-filter>
        <action android:name="com.itsaky.androidide.LOG_SERVICE_ACTION" />
      </intent-filter>
    </service>
    <service
      android:enabled="false"
      android:exported="false"
      android:name="androidx.appcompat.app.AppLocalesMetadataHolderService">
      <meta-data
        android:name="autoStoreLocales"
        android:value="true" />
    </service>
  </application>
</manifest>