<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  tools:ignore="Instantiatable">

  <permission
    android:name="com.itsaky.androidide.permission.BIND_LOG_SERVICE"
    android:description="@string/permdesc_bind_logger_service"
    android:label="@string/permlab_bind_logger_service"
    android:protectionLevel="normal" />

  <uses-permission android:name="com.itsaky.androidide.permission.BIND_LOG_SERVICE" />

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission
    android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
    tools:ignore="ScopedStorage" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

  <application
    android:name=".app.IDEApplication"
    android:allowBackup="false"
    android:allowNativeHeapPointerTagging="false"
    android:enableOnBackInvokedCallback="true"
    android:hardwareAccelerated="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:largeHeap="true"
    android:preserveLegacyExternalStorage="true"
    android:requestLegacyExternalStorage="true"
    android:resizeableActivity="false"
    android:supportsRtl="true"
    android:theme="@style/Theme.AndroidIDE"
    tools:ignore="UnusedAttribute,MediaCapabilities">
    <activity
      android:name=".activities.CrashHandlerActivity"
      android:exported="true"
      android:windowSoftInputMode="stateAlwaysHidden">
      <intent-filter>
        <action android:name="com.itsaky.androidide.REPORT_CRASH" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity
      android:name=".activities.SplashActivity"
      android:exported="true"
      android:theme="@style/AppTheme.Splash">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".activities.MainActivity"
      android:exported="false"
      android:theme="@style/Theme.AndroidIDE"/>
    <activity
      android:name=".activities.editor.EditorActivityKt"
      android:configChanges="orientation|screenSize"
      android:launchMode="singleTop"
      android:windowSoftInputMode="adjustResize" />
    <activity android:name=".activities.PreferencesActivity" />
    <activity
      android:name=".activities.AboutActivity"
      android:configChanges="orientation|screenSize" />
    <activity
      android:name=".activities.TerminalActivity"
      android:configChanges="orientation|screenSize"
      android:windowSoftInputMode="adjustResize" />

    <service
      android:name=".services.builder.GradleBuildService"
      android:exported="false" />
    <service
      android:name=".services.log.LogReceiverService"
      android:exported="true"
      android:permission="com.itsaky.androidide.permission.BIND_LOG_SERVICE">
      <intent-filter>
        <action android:name="com.itsaky.androidide.LOG_SERVICE_ACTION" />
      </intent-filter>
    </service>

    <provider
      android:name=".provider.IDEDocumentsProvider"
      android:authorities="com.itsaky.androidide.documents"
      android:exported="true"
      android:grantUriPermissions="true"
      android:permission="android.permission.MANAGE_DOCUMENTS">
      <intent-filter>
        <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
      </intent-filter>
    </provider>
    <provider
      android:name=".provider.IDEFileProvider"
      android:authorities="${applicationId}.providers.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/ide_file_provider_paths" />
    </provider>

    <receiver
      android:name=".services.InstallationResultReceiver"
      android:enabled="true"
      android:exported="true"
      tools:ignore="ExportedReceiver">
      <intent-filter>
        <action android:name="com.itsaky.androidide.installer.INSTALL_PACKAGE" />
      </intent-filter>
    </receiver>

    <activity
      android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
      android:theme="@style/Theme.AndroidIDE" />
    <activity
      android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
      android:theme="@style/Theme.AndroidIDE" />
  </application>
</manifest>